{% extends "base.html" %}
{% load staticfiles %}
<head>
    {% block title %} Ahmed ZJ Portfolio {% endblock %}
</head>

{% block description %} Web Developer | Electrical Engineer {% endblock %}

{% block name %} Ahmed Zahid {% endblock %}

{% block content %}

    <article class="">
        <div class="skills center-align">
            <h2 class="skills_title">Technical Skills</h2>
            <h3 class="languages">Programming Languages:</h3>
            <div class="languages_list">
                <i class="material-icons languages_icon">computer</i>
                <ul class="lists ">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                    <li>Javascript</li>
                    <li>Python</li>
                    <li>SQL</li>
                    <!-- <li>PHP</li> -->
                    <!-- <li>SQL</li> -->
                </ul>
            </div>
            <h3 class="tools">Tools, Frameworks and Libraries:</h3>
            <div class="tools_list">
                <i class="material-icons tools_icon">build</i>
                <ul class="lists ">
                    <li>Git</li>
                    <li>Github</li>
                    <li>Gulp</li>
                    <li>Django</li>
                    <li>Bootstrap</li>
                    <li>Postgeresql</li>
                    <!-- <li>Vue</li>
                    <li>React</li>
                    <li>WordPress</li>
                    <li>Laravel</li> -->
                </ul>
            </div>
            <h3 class="softwares">Softwares:</h3>
            <div class="softwares_list">
                <i class="material-icons softwares_icon">adb</i>
                <ul class="">
                    <li>Windows</li>
                    <li>Linux</li>
                    <li>Atom</li>
                    <li>AutoCAD</li>
                    <li>Genex Assistant</li>
                    <li>Genex Probe</li>
                </ul>
            </div>
        </div>
        <div class="work">
            <h2 class="">Work Experience</h2>
            <h3 class="">Web Developer</h3>
            <span>
                <a href="">Freelance</a><span class="label_underheadings"><small> • Feb’18 – Current</small></span>
            </span>
            <ul class="">
                <li>Worked on HTML/CSS/Sass/SQL</li>
                <li>Created a Blog using Python django framework</li>
                <li>Working on PHP, Javascript and Postgeresql</li>
            </ul>
            <hr>
            <h3 class="">RF Engineer</h3>
            <span>
                <a href="http://wi-tribe.pk/" target="_blank">Wi-tribe LTE-Advance</a><small> • Aug’17 – Feb’18p</small>
            </span>
            <ul class="">
                <li>Collection, Analysis and reporting writing of Drive Test (DT) Data</li>
                <li>Performing SSV’s of rollout LTE sites (Throughput testing, latency check, ping test, PCI conflict check, mode-3 verification)</li>
                <li>Prepare analysis and simulation reports, develop presentations, write test plans and perform evaluation</li>
                <li>Provide technical support in installation, operation, maintenance and repair of radio frequency in LTE advance system</li>
                <li>Perform to characterize, quantify and optimize electrical and RF frequency performance of wireless headset systems and components</li>
            </ul>
            <hr>
            <h3 class="">Management Trainee Engineer</h3>
            <span>
                <a href="http://atconconstruction.com/">Atcon</a><small> • May’17 – July’17</small>
            </span>
            <ul class="">
                <li>Interprets Electrical drawings and studies the contract documents and applicable standards or specifications prior to execution of work</li>
                <li>Manages directly and provide engineering and technical supports to all the electrical work groups at site</li>
                <li>Coordinates with Client / Consultant’s representatives for any site instructions and inspection of works</li>
                <li>Submits site daily reports, inspection requests, estimates and all applicable monitoring reports on regular basis or as required</li>
                <li>Continually review the contractor’s construction schedule during the progress of site works with regards to MEP services</li>
            </ul>
            <hr>
            <h3 class="">Intern Engineer</h3>
            <span>
                <a href="http://pel.com.pk/">Pak Electron Limited</a><small> • Jan’17 – Mar’17</small>
            </span>
            <ul class="">
                <li>Learn and support in carrying out design of different Transformers and Energy Meters and engineering calculations, preparation</li>
                <li>Read and understand NTDC/WAPDA, IEC, IEEE, ANSI, etc. standards and get equipment data according to these standards</li>
                <li>Perform detailed calculations to compute and establish manufacturing, construction, and installation standards and specifications</li>
            </ul>
        </div>

        <div class="projects">
            <h2>Latest Projects</h2>
            <span>
                <a href="http://wi-tribe.pk/4853-2/"><h3>Optimization and Testing of LTE-Advance network</h3></a><small class="container">• Aug’17 – Feb’18</small>
            </span>
            <p>I was responsible for testing and optimizing the LTE-Advance network sites located in city Lahore. All the testing and optimization was performed using Huawei softwares, Genex Probe and Genex Assistant. I was also handling customer complaints and suggesting RF solutions.</p>
        </div>
        <div class="personals">
            <h2>Personal Website</h2>
            <h3><a href="blog.html">AhmedZJ.com</a></h3>
            <span class="label_underheadings">Creator, Writer, Administrator • Feb’18-Current</span>
            <ul class="">
                <li>Personal blog about programming, web development, design, and more</li>
                <li>Perform system administration through SSH on a VPS running Ubuntu</li>
            </ul>
        </div>
    </article>

    <aside class="top_left">
        <div class="education">
            <h2>Education</h2>
            <h3>University of Management and Technology</h3>
            <span>
                <a href="https://www.umt.edu.pk/">School of Engineering</a><small> • 2012-2016</small>
            </span>
            <span><b>Bachelor of Science</b> in Electrical Engineering
            <p><b>Certification:</b></p></span>
            <ul class="">
                <li>Hafiz-e-Quran</li>
                <li>Sleep Management</li>
                <li>Stress Management</li>
            </ul>
        </div>
        <div class="hobbies">
            <h2>Activities/Hobbies</h2>
            <h3>Outdoor Recreation</h3>
            <p>Hiking, travelling, swimming, biking and snooker are in my hobbies</p>
            <div class=" showcase_images container">
                <img class="p_images img-responsive" src="{% static "images/Atabad_Lake.jpg" %}" alt="Atabad Lake">
                <img class="p_images img-responsive" src="{% static "images/Atabad_Lake2.jpg" %}" alt="Atabad Lake">
                <img class="p_images img-responsive" src="{% static "images/Babusar Top.jpg" %}" alt="Babusar Top">
                <img class="p_images img-responsive" src="{% static "images/Challas-Ferry_Meadows.jpg" %}" alt="Dangerous road to Ferry Meadows">
                <img class="p_images img-responsive" src="{% static "images/Gilgit.jpg" %}" alt="Gilgit">
                <img class="p_images img-responsive" src="{% static "images/KhunjrabPass.jpg" %}" alt="KhunjrabPass(China-Pakistan border)">
            </div>
        </div>
        <div class="volunteer">
            <h2>Volunteer Work</h2>
            <h3>Funds Collection</h3>
            <p>I used to collect funds for the needy students at a campaign held each year at University of Management and Technology throughout the four years of my graduation</p>
        </div>
    </aside>

{% endblock %}
